doctype html
html(lang="en")
  head
    title Map
    include views/layouts/head
  body(layout="row" ng-app="Map" ng-controller="MainCtrl")
    
    include views/layouts/sidenav
    
    include views/layouts/main        
    
    include views/layouts/footer
