//Main content
md-content.md-default-theme
  div.md-padding
    h2(ng-show="selectedOrigin.Destinations.length") Destinations by {{selectedOrigin.label}}
    div(ng-controller="MapController")

      map(center="{{selectedOrigin.latitude}},{{selectedOrigin.longitude}}",zoom="15" on-click="vm.addMarker()")
        marker(icon="{{originIcon}}" position="{{selectedOrigin.latitude}},{{selectedOrigin.longitude}}")
        marker(position="{{$root.data.tempPoint.latitude}},{{$root.data.tempPoint.longitude}}")
        marker(ng-repeat="Destination in selectedOrigin.Destinations" position="[{{Destination.latitude}},{{Destination.longitude}}]" icon="{{destinationIcon}}")
        directions(ng-if="$root.directions.show",draggable="true",  travel-mode="{{$root.directions.mode}}", waypoints="{{$root.directions.wayPoints}}", origin="{{$root.directions.first.location}}", destination="{{$root.directions.last.location}}")
      div Directions path length: {{map.directionsRenderers[0].directions.routes[0].overview_path.length}} Km
      //origin form
      include ../dialogs/new-origin
      //destination form
      include ../dialogs/new-destination
      //Edit destination form
      include ../dialogs/edit-destination
    //top button
    div.origin_actions
      md-button.origin_info(aria-label="view_info" class="md-fab md-raised md-primary md-mini" ng-click="showOriginInfo($event)")
        ng-md-icon(icon="place")
          md-tooltip(direction="bottom") View {{selectedOrigin.label}}'s Info          
      md-button.new_Destination(aria-label="new_Destination" class="md-fab md-raised md-primary md-mini" ng-click="newDestinationDialog($event)")
        ng-md-icon(icon="my_library_add")
          md-tooltip(direction="bottom") Add new Destination From {{selectedOrigin.label}}
  //list of destination
  md-content.md-padding(layout="column")
    md-card(ng-repeat="Destination in selectedOrigin.Destinations")
      div(layout="row" layout-align="end")
        //Edit and Delete Destinations
        div.Destinations_menu
          md-button(aria-label="edit" class="md-fab md-raised md-mini" ng-click="editDestination($event, Destination)")
            ng-md-icon(icon="edit")
            md-tooltip(direction="bottom") edit Destination
          md-button(aria-label="delete" class="md-fab md-raised md-mini" ng-click="deleteDestination($event, Destination)")
            ng-md-icon(icon="delete")
            md-tooltip(direction="bottom") delete Destination
      md-card-title
        md-card-title-text
          span.md-headline {{destination.label}} 
          span.md-subhead Latitude: {{Destination.latitude}} Longitude: {{Destination.longitude}} 
          span.md-subhead Description: {{ Destination.description | date: mediumDate}} 
      md-card-content
        div.md-subhead {{Destination.description}}
        md-chips
          Distance from origin: {{ Destination.distance}}